<html>
    <head>
    <link rel="stylesheet" type="text/css" href="style1.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: blueviolet">
        <header id="home">
            <h1>Share your travels</h1><br>
            let us know where you've been
            <nav style="background-color:white;">
                <a href="#description">Description</a>
                <a href="#relation">Related Photos</a>
                <a href="#reviews">Reviews</a>
            </nav>
            <p>.</p>
        </header>
        <form style="padding:20px;background-color: white;">
            <h2>Description</h2><hr>
            <em>Photo by Randy connoly</em><br>
            This photo of conservatory pond in <ins>Central park</ins> in <a href="https://google.com/newyork">New york</a>was taken on October 22,2011<br>
            with a Canon EOS 30D camera<hr>
            <figure>
                <a href="view.html"><img id="mainphoto" src="C:\Users\Bindu\Documents\veeresh E\central.jpg" alt="image" width=500px height=400px></a>
            </figure>
            <figcaption><br>
                <em>conservation pond in Central park</em>
            </figcaption><hr>
            <hgroup>
                <b>Share:</b>
                <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>

            </hgroup><br>
            <div id="relation">
                <h2>Related photos</h2><br><hr>
                <table>
                    <tr><td><a href="related1.html"><img  id="photos" src="C:\Users\Bindu\Documents\veeresh E\related1.jpg"></a></td>
                        <td><a href="related2.html"><img id="photos" src="C:\Users\Bindu\Documents\veeresh E\related2.jpg"></a></td>
                        <td><a href="related3.html"><img  id="photos" src="C:\Users\Bindu\Documents\veeresh E\ida.png"></a></td>
                    </tr>
                </table>
            </div><br>
            <div id="reviews">
                <h2>Reviews</h2><br><hr>
                <em>by Ricardo on september 15,2012</em><br>
                <b>Easy on the HDR buddy</b><br><hr><br>
                <em>by Susan on October 1,2012</em><br>
                <b>Easy on the HDR buddy</b><br><hr>
            
            </div>
        </form>
        <footer>
            <a href="#home">Home</a>|
            <a href="#relation">Related Photos</a>|
            <a href="#reviews">Reviews</a><br>
            <em>All copyrights&copy;2011 reserved</em>
        </footer>
    </body>
</html>