<html>
<head>
    <meta name="viewport" content="width=divice-width,initial-scale=1,user-scalable=no"/>
    <title>responsiive sliding menu</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
   
</head>
<body>
    <div class="header">
        <div><img src="image/ida.png" width=10% height=100%></div>
        <div>
            <h2 class="htext"><i>District dental association<br>Ballari</i></h2>
        </div>
    </div>
    <nav>
        <h1 class="brand"><a href="#">MENU</a></h1>
        <ul>
            <li><a href="index.html">HOME</a></li>
             <li><a href="about.html">ABOUT</a></li>
             <li><a href="portfolio1.html">PORTFOLIO</a></li>
             <li><a href="events.html">EVENTS</a></li>
             <li><a href="contact.html">CONTACT</a></li>
             <li><a href="#">PUBLICATIONS</a></li>
             <li><a href="membership2.html">MEMBERSHIP</a></li>

            
        </ul>
        <div style="clear:both"></div>
    </nav>
    <br>
    <br>
    <div class="path" style="padding-left: 10%;">Home>Events>Details</div><br><br><br>
    <div class="button" style="padding-left: 10%;"><a href="events.html" style="padding:1%;margin=1%;">BACK</a></div>
    <form style="padding-left: 30%;padding-right: 30%;">
    <div class="content">
        <h3 style="color:darkorchid">Calender of Events</h3>
        <h3 style="color:darkorchid">Dental Society of Greater Orlando</h3>
        &nbsp;Fri, Oct 11, 2019 | 7:00 PM - Mon, Oct 21, 2019 | 10:00 PM<br>
        &nbsp; Location: Winter Park Farmers Market<br>
                Address: 200 W. New England Ave, Winter Park, FL<br>
                Contact: Sharon Hamilton<br>
        Email: sharonhamilton@dsgo.org<br>
        Phone: 407-894-9798<br><br>
        DSGO Membership Meeting<br>
        Fall Festival at the Winter Park Farmers Market<br>
        200 West New England Avenue, Winter Park, FL  32789<br>
        $65/pp   $75/pp at the door<br>
    
    </div>
    </form>
</body>
</html> 