<html>
<head>
    <meta name="viewport" content="width=divice-width,initial-scale=1,user-scalable=no"/>
    <title>responsiive sliding menu</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">

</head>
<body >
    <div class="header">
        <div><img src="image/ida.png" width=10% height=100%></div>
        <div>
            <h2 class="htext"><i>District dental association<br>Ballari</i></h2>
        </div>
    </div>
    <br>
    <br>
    <nav>
        <h1 class="brand"><a href="#">MENU</a></h1>
        <ul>
            <li><a href="index.html">HOME</a></li>
             <li><a href="about.html">ABOUT</a></li>
             <li><a href="portfolio1.html">PORTFOLIO</a></li>
             <li><a href="events.html">EVENTS</a></li>
             <li><a href="contact.html">CONTACT</a></li>
             <li><a href="#">PUBLICATIONS</a></li>
             <li><a href="membership2.html">MEMBERSHIP</a></li>
             <li><a href="logout.php">LOGOUT</a></li>

            
        </ul>
        <div style="clear:both"></div>
    </nav>
    <br>
    <br>
    
    
    
    <div class="path" style="padding-left: 10%;" >Home > evnts</div><br><br><br>
    <div class="button" style="padding-left: 10%;"><a href="index.html" style="padding:1%;margin=1%;">BACK</a></div>
    <form style="padding-left: 30%;padding-right: 30%;">
    <div class="content">
    <h3 style="color:darkorchid">Admin activities</h3>
        <a href="add.php"><h3 style="color:darkorchid">Add events</h3></a><br>
        <hr>
        <a href="delete.php"><h3 style="color:darkorchid">Delete events</h3></a><br>
        <hr>
        <a href="addevent.php"><h3 style="color:darkorchid">Add members</h3></a><br>
        <hr>
        <a href="deleteevent.php"><h3 style="color:darkorchid">Delete members</h3></a><br>
        <hr>
       
    </div>
    </form>
</body>
</html> 